body {
    background-color: #E0EBFF;
    background-image: linear-gradient(to right, #EAD4FF 0%, #B7B3EB 51%, #B3C3E8 75%);
    opacity: 0.95;
}

h1 {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

h1::after {
    content: "";
    display: block;
    border-bottom: 2px solid purple;
    width: 35%;
    position: relative;
    bottom: -6px;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#new-style {
    text-align: center;
}

#switchStylesAction {
    margin: 20px;
    padding: 2% 2%;
    box-shadow: 0px 5px 3px 2px pink;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 12pt;
    color: #9790CC;
    background-color: #E5C8EB;
    width: 20%;
  }
  
  #switchStylesAction:hover {
    background-color: #9790CC;
    color: #E5C8EB;
  }

