<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">
            <style>
            .jumbotron 
            {
                background-color: #E0EBFF;
                background-image: linear-gradient(to right, #EAD4FF 0%, #B7B3EB 51%, #B3C3E8 75%);
            }
            </style>
                <h1>To-Do-List</h1>
                <p>This is a tool essential for your day!</p>
            </div>
        </div>
    
        <div class="col-sm-4">        
            <div class="well">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Paper-notes.svg/1024px-Paper-notes.svg.png" height="30%" width="50%">
            </div>
        </div>
    
    </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>