<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <style>
        .navbar-default
        {
            color: black;
        }
    </style>

    <div class="p-3 mb-2 bg-info text-white">
        <div class="container-fluid">
            <style>
                .container-fluid
                {
                    background-color: #E0EBFF;
                    background-image: linear-gradient(to right, #EAD4FF 0%, #B7B3EB 51%, #B3C3E8 75%);
                }
                </style>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <style>
                .navbar-default 
                .navbar-brand
                {
                    color: black;
                }
                </style>

                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    EJS Is Fun
                </a>
        
                <ul class="nav navbar-nav">
                    <style>
                        .navbar-default 
                        .navbar-nav>li>a
                        {
                            color: black;
                        }
                    </style>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/error">Review</a></li>
                    <li><a href="/uploadData">My List</a></li>
                </ul>
            </div>
        
        </div>
    </div>
</nav>