body {
    background-color: #EF9CBA;
}

h1 {
   color: white;
   font-size: 30px;
}

h2 {
    color: white;
    font-size: 20px;
}

.center-all {
    text-align: center;
    width: 40%;
    margin: 1% 10% 5% 30%;
}

header{
    background-color: #EF9CBA;
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
    text-align: center;
}
header p {
    width: 100%;
    color: #875AA8;
    font-size: 20px;
}

footer {
    background-color: aliceblue;
    padding-left: 5px;
    border: purple solid thin;
    border-radius: 8px;
    color: purple;
}

main {
    background-color: #EF9CBA;
}

figure.left {
    float: left;
}

p {
    color: purple;
}

nav {
    background-color: aliceblue;
    border: 1px purple solid;
    padding: 1%;
    margin: 1px 0px 0px 0px;
    font-family: 'Londrina Solid', cursive;
}

nav.top-about {
    background-color: #FFD6FF;
    text-align: center;
    margin: 3% 38% 2% 38%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 120%;
}

nav li {
    display: inline;
    padding: 8px;
}

.fit-picture {
    width: 300px;
    height: 300px;
}

section.clear{
    clear: both;
}

/* box model */

.btn-padding {
    padding: 25px;
    border: 10px green double;
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
}

.btn-margin-padding {
    border:15px;
    margin: 25px;
    border-style: ridge;
    padding-left: 10px;
    padding-right: 10px;
    border-color: green;
}

#btn-wrapper {
    background-color: aquamarine;
    display: inline-block;
    border : thin black solid;
}

.btn-margin-padding:active{
    background-color: red;
}
/*
.btn-padding {
    border-width: 10px;
    border-color: green;
    border-style: solid;
} */

aside {
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;
}

#simpleBranchDisplay {
    text-align: center;
    color: purple;
    font-size: 100%;
}

button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
 /* outline: none;*/
  color: #fff;
  background-color: #FF9CD2;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Quicksand', sans-serif;
}

.button:hover {
    color: white;
    background-color: #E85A75;
    display: inline-block;
    text-decoration: none;
}

.button:active {
  background-color: peru;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration: none;
}

#simpleBranchAction {
    text-align: center;
    width: 40%;
    margin: 1% 10% 5% 30%;
}

p.center {
    text-align: center;
}

img.center-img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 30%;
}

img.bigger {
    width: 70%;
    margin: 1% 15% 1% 15%;
}

.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}

.yellowBackground {
    background-color: yellow;
}

.purpleBackground {
    background-color: purple;
}

.pinkBackground {
    background-color: pink;
}
